# Learning a Similarity Metric Discriminatively, with Application to Face Verification

[ieee](http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=1467314)
